figure{
    margin: 0;
}
#myRange{
    position: absolute;
    top: 350px;
    left: 100px;
}
#smallbox{
    position: relative;
    float: left;
}
#smallbox img{
    /* display: block; */
    vertical-align:top;
    /* /bottom/text-top/text-bottom */ 
}
#magnifer{
    position: absolute;
    display: none;    
    width: 200px;
    height: 200px;
    top: 0;
    left: 0;
    opacity: 0.5;
    background-color: blanchedalmond;
}
#bigbox{
    position: relative;
    /* border: 1px solid black; */
    display: none;
    left: 100px;
    width: 400px;
    height: 400px;
    overflow: hidden;
}
#bigbox img{
    position: absolute;
    top: 0;
    left: 0;
    transform-origin: 0 0;
}